@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  code {
    @apply font-mono;
  }
  
  [data-rehype-pretty-code-figure] pre {
    @apply px-0;
  }
  
  [data-rehype-pretty-code-figure] code {
    @apply grid min-w-full break-normal bg-transparent p-0 text-sm leading-normal text-current subpixel-antialiased;
    counter-reset: line;
    box-decoration-break: clone;
  }

  [data-rehype-pretty-code-figure] [data-line] {
    @apply border-l-2 border-transparent px-4 py-0.5;
  }

  [data-rehype-pretty-code-figure] [data-highlighted-line] {
    background: rgba(200, 200, 255, 0.1);
    @apply border-l-gray-400;
  }

  /* Inline code should still look like inline code if it's not a block */
  :not(pre) > code {
     @apply rounded bg-gray-100 px-1 py-0.5 text-sm dark:bg-gray-800;
  }
}
